<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Closet</title>
  <!--STYLESHEETS-->
    <link rel="stylesheet" href="styles/index.css">
    
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <!--VENDOR SCRIPTS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="/scripts/addClothing.js"></script>

  </head>
  <body>
      <div class="jumbotron">
        <div class="container">
          <h1>My Closet</h1>
          <p>Add clothing to your closet to get started</p>
        </div>
      <h1 class="text-center">Add Clothing</h1>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
       

    <form method="GET">
          <div class = "row">
            <div class = "col-6">
              <label for="search">Search</label>
              <input class = "form-control" type="text" name="searc" id="searchBar">
            </div>
          </div>
          <div>
            <input class="btn btn-primary" id ="search" type="submit" text="Search">
          </div>
        </form>
      
        <div>
          <%= searchResults %>
        </div>
      
        </div>
       <script>
        <form action="<%= action %>" method="post">
        <% if (clothing.length) { %>
            <% clothing.forEach(function(clothing){ %>
                <label><%= clothing.name %></label>
                <input type="<%= clothing.type %>" name="<%= clothing.name %>" <% if (clothing.property) { %> <%= clothing.property %> <% } %> >
            <% }) %>
        <% } %>
        <button type="submit"><%= title %></button> 
        </form>
    </script>
  		
  </body>
</html>	

